.react-lookup {
   position: relative; 
}

.react-lookup input {
  width: 100%;
}

.react-lookup .option-list{
   position: absolute;
   max-height: 200px;
   width: 100%;
   overflow-y: scroll;
   overflow-x: hidden;
   z-index: 1;
   cursor: pointer;
   border-width: 0px 1px 1px 1px;
   border-style: solid;
   background-color: white;
}

.react-lookup ::-webkit-scrollbar {
    width: 8px;
}
 
.react-lookup ::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.react-lookup ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}